.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
}

.row{
    background-image: url('images/anish_bg_img.jpg');
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    filter: blur(52%)
}

.List{
    background-color: rgb(41, 38, 38);
    opacity: 0.8;
    height: 100vh;
}

.UlList{
    position: absolute;
    top: 17rem;
    left: 6rem;
    font-size: larger;
    font-weight: bolder;
}
.img-wrapper img{
    margin-left: 4rem;
   filter: brightness(65%);
}

.Edit-img-wrapper-H4{
    margin-left: 3.4rem;
}

.img-wrapper-span{
    font-size: 0.8rem;
}

.heading h3{
     margin-left: 20%;
     margin-top: 22%;
     margin-bottom: 5rem;
     font-size: 4rem;
     color: white;
}

.container .carousalEdit{
    margin-top: 0rem;
    height: 10rem;
    width: 25rem;
    box-shadow:7px 25px  25px 25px rgb(211, 62, 62);
}

.btn{
    margin-left: 40%;
    margin-top: -10%;
    font-weight: bold;
}
.form-control{
    outline: none;
}
a li{
color: red !important;
}

/* media query */
@media only screen and (max-width: 350px) and (min-width: 0px){
    .row{
        background-image: none;
        height:0%;
        background-size:cover;
        background-repeat: no-repeat;
        filter: blur(52%)
    }
    .rowSetting{
        background: url('images/anish_bg_img.jpg');
        height: 100vh;
        background-size:cover;
        background-repeat: no-repeat;
        filter: blur(52%)
    }

    .heading h3{
        margin-left: 6%;
        margin-top: 22%;
        margin-bottom: 5rem;
        font-size: 2rem;
        width: 100%;
        color: white;
   }

   .container .carousalEdit{
    margin-top: 5rem;
    margin-left: 1.5rem;
    height: 10rem;
    width: 15rem;
    box-shadow:7px 25px  25px 25px rgb(211, 62, 62);
}

.UlList{
    position: absolute;
    top: 17rem;
    left: 4.9rem;
    font-size: 1rem;
    font-weight: bolder;
}

.textarea{
    columns: 20;
}

}

@media only screen and (max-width:480px) and (min-width:351px){
    .row{
        background-image: none;
        height:0%;
        background-size:cover;
        background-repeat: no-repeat;
        filter: blur(52%)
    }
    .rowSetting{
        background: url('images/anish_bg_img.jpg');
        height: 100vh;
        background-size:cover;
        background-repeat: no-repeat;
        filter: blur(52%)
    }

    .heading h3{
        margin-left: 6%;
        margin-top: 22%;
        margin-bottom: 5rem;
        font-size: 2rem;
        width: 100%;
        color: white;
   }

   .container .carousalEdit{
    margin-top: 5rem;
    margin-left: 1.5rem;
    height: 10rem;
    width: 15rem;
    box-shadow:7px 25px  25px 25px rgb(211, 62, 62);
}

.UlList{
    position: absolute;
    top: 17rem;
    left: 4.9rem;
    font-size: 1rem;
    font-weight: bolder;
}

}

@media only screen and (max-width:600px) and (min-width:481px){
    
}
@media only screen and (max-width:801px) and (min-width:601px){

}
@media only screen and (max-width:1025px) and (min-width:802px){

}
@media only screen and (max-width:1281px) and (min-width:1026px){

}